@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>


<script src="/lib/site.js"></script>

<style>
    .battle-field {
        position: relative;
        width: 1000px;
        height: 1000px;
        background-color: lightblue;
        border: 1px solid black;
    }
</style>

<button @onclick="RunTurns">Run</button>

<div id="square" class="battle-field" style="">
</div>

<div>@status</div>

@* <div>@(Running ? "Running" : "Stopped")</div> *@

@code {

    private int dimension = 10;
    private double root3 = Math.Sqrt(3.0);
    private GameEngine engine = new GameEngine();
    private GameState state = new GameState();

    private bool Running = false;
    private string status = "";
    private Dictionary<string, string> iconLookup = new Dictionary<string, string>();

    private List<IBot> bots = new List<IBot>();


    protected override Task OnInitializedAsync()
    {
        iconLookup.Add("Knight", "/images/pikeman.svg");
        iconLookup.Add("Archer", "/images/archer.svg");
        bots.Add(new RunAndGun(1));

        var team = new List<string>();

        team = new List<string> { "Knight", "Knight", "Archer", "Archer", "Knight", "Knight" };
        state.AddTeam(1, Coordinate.Offset(6, 14), team);
        bots.Add(new RunAndGun(1));
        state.AddTeam(2, Coordinate.Offset(30, 10), team);
        bots.Add(new RunAndGun(2));
        state.AddTeam(3, Coordinate.Offset(30, 30), team);
        bots.Add(new RunAndGun(3));
        state.AddTeam(4, Coordinate.Offset(10, 30), team);
        bots.Add(new RunAndGun(4));
        state.AddTeam(5, Coordinate.Offset(50, 20), team);
        bots.Add(new RunAndGun(5));
        state.AddTeam(6, Coordinate.Offset(30, 40), team);
        bots.Add(new Turtle(6));

        return Task.CompletedTask;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        DrawUnits(state);

    }

    private void RunTurns()
    {
        Running = !Running;

        if (Running)
            ProcessTurn();
    }

    private async void ProcessTurn()
    {
        while (Running)
        {
            var moves = bots[state.CurrentTeam].PlanMoves(state);

            state = engine.ProcessTurn(state, moves);
            var man = state.Units.FirstOrDefault();

            status = state.ToString();

            DrawUnits(state);
            Running = state.Running;

            Thread.Sleep(150);
        }

    }

    private void DrawUnits(GameState state)
    {
        JSRuntime.InvokeVoidAsync("clearIcons", "square");
        foreach (var unit in state.Units)
        {
            var color = "red";
            switch (unit.Team)
            {
                case 2:
                    color = "blue";
                    break;
                case 3:
                    color = "green";
                    break;
                case 4:
                    color = "yellow";
                    break;
                case 5:
                    color = "orange";
                    break;
                case 6:
                    color = "black";
                    break;

            }

            var image = iconLookup[unit.Type];
            var x = (int)(dimension * (root3 * unit.Location.Q + root3 / 2.0 * unit.Location.R));
            var y = (int)(dimension * ((3.0 / 2) * unit.Location.R));
            var con = new Icon(image, x, y, 20, 20, color);
            PlaceIcon(con);
        }

    }

    private void PlaceIcon(Icon icon)
    {
        try
        {
            JSRuntime.InvokeVoidAsync("createIconDiv", "square", icon.Url, icon.X, icon.Y, icon.Width, icon.Height, icon.color);
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error placing icons: {ex.Message}");
        }
    }

    private record Icon(string Url, int X, int Y, int Width, int Height, string color);
}
