@page "/"
@using Microsoft.Extensions.Options

@inject IOptions<AppSettings> GameOptions

<PageTitle>BadgerClan</PageTitle>

<h1 class="text-center">BadgerClan</h1>

<div class="row justify-content-center">
  <div class="col-md-4">
    <CreateGame />
  </div>
    @if (GameOptions.Value.AllowTournaments) // only show if setting is true
    {
        <div class="col-md-4">
            <CreateTournament />
        </div>
    }
</div>
<div>
  <JoinableGames />
</div>
<RunningGames />
<PastGames />

@code {

}
