@page "/info"


<PageTitle>information</PageTitle>

<h1>information</h1>

<div>
    <p>
        If your want to learn more about the hex coordinate system,
        this <a href="https://www.redblobgames.com/grids/hexagons/"> the programming reference</a>
        I used to develope the board. I used the "odd-r" offset coordinate system with an Axial 
        coordinate system underneath it.
    </p>
</div>

@code {


}
