@page "/testgame"
@using BadgerClan.Web.Components.GameComponents
@rendermode InteractiveServer

<PageTitle>@state.Name</PageTitle>

<button @onclick="RunTurns">Run</button>

<BoardComponent State=state Teams=teams />

<div>@status</div>



@code {

    private GameEngine engine = new GameEngine();
    private GameState state = new GameState();
    private string status = "";


    private CancellationTokenSource source = new CancellationTokenSource();
    private CancellationToken ShouldStop => source.Token;
    private bool Running = false;

    private List<string> squadUnits = new List<string> { "Knight", "Knight", "Archer", "Archer", "Knight", "Knight" };

    //Remove this eventually, use state.TeamList instead
    private Dictionary<int, Team> teams = new Dictionary<int, Team>();

    protected override Task OnInitializedAsync()
    {
        MakeTeam("red", new RunAndGun());
        MakeTeam("blue", new Turtle());
        MakeTeam("green", new Turtle());
        MakeTeam("yellow", new Turtle(2, 2));
        MakeTeam("orange", new RunAndGun());
        MakeTeam("black", new Turtle());

        state.StartGame(squadUnits);

        @* AddBorderUnits(state); *@

        return Task.CompletedTask;
    }

    private void MakeTeam(string color, IBot bot)
    {
        var team = new Team($"Team {color}", color, bot);
        bot.Team = team.Id;
        state.AddTeam(team);
        teams.Add(team.Id, team);
    }

    private void RunTurns()
    {
        if (Running)
        {
            source.Cancel();
            Running = false;
            return;
        }
        Running = true;
        source = new CancellationTokenSource();

        Task.Run(() => ProcessTurn(), source.Token);
    }

    private void ProcessTurn()
    {
        while (Running)
        {
            ShouldStop.ThrowIfCancellationRequested();

            var moves = teams[state.CurrentTeamId]?.Bot?.PlanMoves(state)
            ?? new List<Move>();

            state = engine.ProcessTurn(state, moves);
            var man = state.Units.FirstOrDefault();

            status = state.ToString();

            Running = state.Running;

            InvokeAsync(StateHasChanged);

            Thread.Sleep(30);
        }
    }

    private static void AddBorderUnits(GameState stat)
    {
        var teamid = stat.TeamList[0].Id;
        stat.AddUnits(teamid, Coordinate.Offset(0, 0), new List<string> { "Archer" });
        stat.AddUnits(teamid, Coordinate.Offset(0, 1), new List<string> { "Archer" });
        stat.AddUnits(teamid, Coordinate.Offset(stat.Dimension, 0), new List<string> { "Archer" });
        stat.AddUnits(teamid, Coordinate.Offset(stat.Dimension, 1), new List<string> { "Archer" });
        stat.AddUnits(teamid, Coordinate.Offset(0, stat.Dimension), new List<string> { "Archer" });
        stat.AddUnits(teamid, Coordinate.Offset(0, stat.Dimension-1), new List<string> { "Archer" });
        stat.AddUnits(teamid, Coordinate.Offset(stat.Dimension, stat.Dimension), new List<string> { "Archer" });
        stat.AddUnits(teamid, Coordinate.Offset(stat.Dimension, stat.Dimension-1), new List<string> { "Archer" });
    }
}
