<style>
  .battle-field {
    position: relative;
    @* width: @(DisplayConstants.MapWidth)px; *@
    height: @(DisplayConstants.MapHeight)px;
    @* height: 100%; *@

    aspect-ratio: 997 / 860;
    @* background-color: rgb(16, 64, 81); *@
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
  }
</style>
<div id="square" class="battle-field" style="">

  @foreach(var row in Enumerable.Range(0, State.Dimension + 1))
  {
    @foreach(var column in Enumerable.Range(0, State.Dimension + 1))
    {
      <HexagonSquare Row=row Col=column Dimension=State.Dimension />
    }
  }
  @foreach (var u in State.Units)
  {
    <UnitComponent Unit=u Team=Teams[u.Team] Dimension=State.Dimension  @key=u.Id />
  }
</div>


@code {
  [Parameter]
  public GameState State { get; set; }

  [Parameter]
  public Dictionary<int, Team> Teams { get; set; }
}