
@foreach(var team in State.TeamList.OrderByDescending(t => State.Units.Where(u => u.Team == t.Id).Sum(u => u.Health) + t.Medpacs )){
	<div style="background-color: @team.Color;">
	<span>@team.Name</span>
	<span>Units: @(State.Units.Where(u => u.Team == team.Id).Count())</span>
	</div>
}


@code {
	[Parameter]
	public required GameState State { get; set; }


}
