<div style="
    position: absolute; 
    width: 20px; 
    height: 20px; 
    top: @(yPercent)%; 
    left: @(xPercent)%; 
    background-image: url('@(iconLookup[Unit.Type])');
    background-size: cover;
    background-repeat: no-repeat;
    border: solid @Team.Color;
    transition: all .1s;
">
</div>


@code {

    [Parameter]
    public Unit Unit { get; set; }

    [Parameter]
    public Team Team { get; set; }

    private int X;
    private int Y;
    private double xPercent;
    private double yPercent;

    private Dictionary<string, string> iconLookup = new Dictionary<string, string>
    {
        {"Knight", "/images/pikeman.svg"},
        {"Archer", "/images/archer.svg"}
    };


    protected override void OnParametersSet()
    {
        X = (int)(DisplayConstants.Dimension * (DisplayConstants.Root3 * Unit.Location.Q + DisplayConstants.Root3 / 2.0 *
        Unit.Location.R));
        Y = (int)(DisplayConstants.Dimension * ((3.0 / 2) * Unit.Location.R));

        xPercent = 100 * X / (double) DisplayConstants.MapWidth;
        yPercent = 100 * Y / (double) DisplayConstants.MapHeight;
    }
}